
body 
{
	background-color: #ff3c00;
	color: white;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
}
main{
	width:600px;
	background-color:#black;
	margin:0 auto;
 	border: 5px solid #000000;
	padding:0px 20px 20px 20px;
	border:1px solid white;
	position:relative;
	top:50px;
	height:100%;
}

button{
	width:100px;
	height:50px;
}
h1
{
	font-style:normal;
	text-align:center;
    color: white;
}
h2
{
	text-align:center;
	font-style:italic;
	color:black;
}

#kol_lewa
{
	float: left;
	width:190px;
	position: relative;
}

#kol_lewa ul li a:hover
{
	color: white;
}

#kol_lewa li 
{
    font-size: 20px;
    line-height: 30px;
}

#stopka
{
	width: auto;
	height:auto;
	margin: 5px;
	overflow: auto;
    text-align: center;
    padding-top: 10px;
    border-top: 7px double #000000;
}
#tab{
	position:relative;
	left:200px;
	color:white;
	text-shadow:2px 2px 1px black;
}
td{
	background-color:black;
	color:whie;
}